params {
    /* INPUT / OUTPUT */
    samplesheet     = '/NFS/cluster-share/home/cmarco_user/data_rnaseq/samples_path/lib1_202304_to_S31_20260729.tsv'
    outdir          = 'results'

    /* GENOME & ANNOTATIONS */
    genome_name     = 'Homo_sapiens.GRCh37.dna.primary_assembly.chr'
    fasta           = '/NFS/cluster-share/home/cmarco_user/data_rnaseq/references/Homo_sapiens.GRCh37.dna.primary_assembly.chr.fa'
    gff3            = '/NFS/cluster-share/home/cmarco_user/data_rnaseq/annotations/gencode.v19.annotation.gff3'
    mane            = '/NFS/cluster-share/home/cmarco_user/data_rnaseq/annotations/MANE.to.SpliceLauncher.txt'

    /* PARAMETRES FASTP */
    min_length      = 100
    mean_quality    = 20

    /* PARAMETRES SPLICELAUNCHER */
    min_cov         = 5
    threshold       = 1
    /*nb_intervals    = 10 bug*/
    paired_end      = true
    graphics        = true
    txt_out         = false
    bed_out         = false

    /* CHEMIN OUTILS */
    fastp           = '/NFS/cluster-share/env-share/tools/fastp/0.20.1/bin/fastp'
    fastqc          = '/NFS/cluster-share/env-share/tools/fastQC/v0.11.9/bin/fastqc'
    multiqc         = '/NFS/cluster-share/env-share/tools/multiQC/1.24.1/bin/multiqc'
    splicelauncher  = '/NFS/cluster-share/home/cmarco_user/nf-SpliceVariantRNA/SpliceLauncher/SpliceLauncher.sh'
    star            = '/NFS/cluster-share/env-share/tools/STAR/2.7.11b/Linux_x86_64_static/STAR'
    samtools        = '/NFS/cluster-share/env-share/tools/samtools/1.22.1/bin/samtools'
    bedtools        = '/NFS/cluster-share/env-share/tools/bedtools/2.31.1/bin/bedtools'
}

profiles {
    slurm {
        executor {
            name      = 'slurm'
            queueSize = 50
        }

        process {
            executor = 'slurm'
            queue    = 'short'
            cpus     = 2
            memory   = '4 GB'

            withName: 'FASTP_TRIMMING' {
                cpus   = 3
                memory = '4 GB'
            }

            withName: 'FASTQC.*' {
                cpus           = 2
                memory         = '2 GB'
                clusterOptions = '--nodelist=node-2'
            }

            withName: 'SPLICELAUNCHER_INSTALL' {
                queue  = 'medium'
                cpus   = 12
                memory = '40 GB'
                time   = '8h'
            }

            withName: 'SPLICELAUNCHER_ALIGN' {
                queue  = 'fat'
                cpus   = 6
                memory = '40 GB'
                time   = '6h'
            }

            withName: 'SPLICELAUNCHER_COUNT' {
                queue  = 'medium'
                cpus   = 6
                memory = '16 GB'
                time   = '4h'
            }

            withName: 'SPLICELAUNCHER_ANALYSIS' {
                queue  = 'medium'
                cpus   = 6
                memory = '16 GB'
                time   = '2h'
            }
        }
    }
}